/Datasets/MIntRec-T/video
/Datasets/MIntRec-T/audio
/Datasets/MIntRec/video
/Datasets/MIntRec2/video
/Datasets/MELD/video
/Datasets/IEMOCAP/multimodal
/Datasets/MIntRec2/audio
/Datasets/MELD/audio
/Datasets/MELD-DA/audio
/LLaMA-Factory-main/output
/LLaMA-Factory-main/saves
/train/checkpoints
/train_llm/checkpoints
/train_llama/checkpoints
/train_llama2/checkpoints
/train_llama_imagebind/checkpoints
*.log
*.pyc